
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/styles.css">
        <head>
          <!-- Outros elementos do head -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      </head>

        <title>Responsive sidebar submenus</title>
    </head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        main {
            margin: 20px;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
            font-size: 24px; /* Aumenta o tamanho do título */
            font-weight: bold; /* Torna o título em negrito */
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .edit-icon, .delete-icon, .add-questions-icon {
            color: #333;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px; /* Adiciona espaço à direita dos ícones */
        }
        .edit-icon {
            color: #007bff; /* Azul */
        }
        .delete-icon {
            color: #dc3545; /* Vermelho */
        }
        .add-questions-icon {
            color: #333;/* Verde */
        }
        .edit-icon:hover, .delete-icon:hover, .add-questions-icon:hover {
            opacity: 0.7; /* Adiciona um efeito de opacidade ao passar o mouse */
        }
        .edit-icon i, .delete-icon i, .add-questions-icon i {
            margin-right: 5px;
        }
    </style>
    <body>
        <%- include('../partials/sidebar') %>
        <main>
          <h1>Meus Simulados</h1>

          <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% simulados.forEach(simulado => { %>
                    <tr>
                        <td><%= simulado.titulo %></td>
                        <td>
                            <a href="/usuario/simulados/<%= simulado.id %>/editar" class="edit-icon">
                                <i class="fas fa-edit"></i> editar
                            </a>
                            <a href="/usuario/simulados/<%= simulado.id %>/excluir" class="delete-icon">
                                <i class="fas fa-trash"></i> deletar
                            </a>
                            <a href="/usuario/simulados/<%= simulado.id %>/adicionar-questoes" class="add-questions-icon">
                                <i class="fas fa-plus"></i> Adicionar Questões
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
    </body>
</html>