<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/styles.css">

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <%- include('../partials/sidebar') %>
        <!--========== CONTENTS ==========-->
        <main>
            <style>
                table {
                    width: 100%;
                    border-collapse: collapse;
                }
                th, td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }
                th {
                    background-color: #f2f2f2;
                }
            </style>
            <h1><%=simulado.titulo %></h1>
       
            <td><%= simulado.descricao %></td>

            <h1>Associar questoes</h1>


            <form action="/usuario/simulados/<%= simulado.id %>/adicionar-questoes" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Título</th>
                            <th>Questão</th>
                            <th>Tópico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% questoes.forEach(questao => { %>
                            <tr>
                                <td>
                                    <input type="checkbox" id="questao-<%= questao.id %>" name="questoesSelecionadas" value="<%= questao.id %>">
                                </td>
                                <td><%= questao.titulo %></td>
                                <td><%= questao.pergunta %></td>
                                <td><%= questao.Topico.materia %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <input type="hidden" name="simuladoId" value="<%= simulado.id %>">
                <button type="submit">Associar Questões</button>
            </form>
                <a href="/usuarios/Simulados/<%= simulado.id %>">Voltar para a simulado</a>
    <link rel="stylesheet" href="/css/styles.css">
        </main>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
    </body>
</html>